psycopg2-binary>=2.8
sqlalchemy
sqlalchemy-utils
discord.py[voice]
python-dotenv
uvloop
youtube-search-python
yt-dlp
google-api-python-client
toml
asyncpraw
playwright
bs4
lxml
git+https://github.com/Fluxticks/TikTokDL