psycopg2-binary>=2.8
sqlalchemy
sqlalchemy-utils
discord.py[voice]
python-dotenv
uvloop
youtube-search-python
yt-dlp
google-api-python-client
toml
asyncpraw
playwright==1.30.0
TikTokAPI
nest-asyncio
requests==2.29.0
pillow
bs4
lxml